<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intalink.configoperations.mapper.systemModelRelation.IkBpDataSourceDataModelRelationBasicMapper">

    <resultMap id="SystemModelRelationResultMap" type="com.intalink.configoperations.domain.systemModelRelation.IkBpDataSourceDataModelRelationBasic">
            <id property="dataSourceDataModelRelationId" column="data_source_data_model_relation_id" jdbcType="INTEGER"/>
            <result property="systemId" column="system_id" jdbcType="INTEGER"/>
            <result property="dataModelId" column="data_model_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="SystemModelRelationList">
       select data_source_data_model_relation_id,system_id,datamodel_id from ik_bp_data_source_data_model_relation_basic
    </sql>


</mapper>
