<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.intalink.configoperations.mapper.evalucationMethodWeight.IkFpEvaluationMethodWeightMapper">

    <resultMap id="BaseResultMap"
               type="com.intalink.configoperations.domain.evalucationMethodWeight.IkFpEvaluationMethodWeight">
        <id property="scoringSchemeId" column="scoring_scheme_id" jdbcType="INTEGER"/>
        <result property="evaluationMethodId" column="evaluation_method_id" jdbcType="INTEGER"/>
        <result property="weightCoefficient" column="weight_coefficient" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        select scoring_scheme_id, evaluation_method_Id, weight_coefficient
        from ik_fp_evaluation_method_weight
    </sql>

    <select id="selectByEMIds"
            resultType="com.intalink.configoperations.domain.evalucationMethodWeight.vo.IkFpEvaluationMethodWeightVo">
        select
        ifemw.scoring_scheme_id scoringSchemeId,
        ifssb.scoring_scheme_name scoringSchemeName,
        ifemw.evaluation_method_Id evaluationMethodId,
        ibemb.evaluation_method_name evaluationMethodName,
        ifemw.weight_coefficient weightCoefficient
        from ik_fp_evaluation_method_weight ifemw
        left join ik_bp_evaluation_method_basic ibemb on ibemb.evaluation_method_id = ifemw.evaluation_method_Id
        left join ik_fp_scoring_scheme_basic ifssb on ifssb.scoring_scheme_id = ifemw.scoring_scheme_id
        where ifemw.evaluation_method_id in
        <foreach item="item" index="index" collection="evaluationMethodIds" open="(" separator="," close=")">
            #{item}
        </foreach>
        group by ifemw.evaluation_method_Id
        order by ifemw.evaluation_method_Id
    </select>

    <select id="selectBySSIds"
            resultType="com.intalink.configoperations.domain.evalucationMethodWeight.vo.IkFpEvaluationMethodWeightVo">
        select
        ifemw.scoring_scheme_id scoringSchemeId,
        ifssb.scoring_scheme_name scoringSchemeName
        from ik_fp_evaluation_method_weight ifemw
        left join ik_bp_evaluation_method_basic ibemb on ibemb.evaluation_method_id = ifemw.evaluation_method_Id
        left join ik_fp_scoring_scheme_basic ifssb on ifssb.scoring_scheme_id = ifemw.scoring_scheme_id
        where ifemw.scoring_scheme_id in
        <foreach item="item" index="index" collection="scoringSchemeId" open="(" separator="," close=")">
            #{item}
        </foreach>
        group by ifemw.scoring_scheme_id
        order by ifemw.scoring_scheme_id
    </select>
    <select id="selectScoringSchemeById"
            resultType="com.intalink.configoperations.domain.evalucationMethodWeight.vo.IkFpEvaluationMethodWeightVo">
        select
            ifemw.scoring_scheme_id scoringSchemeId,
            ifssb.scoring_scheme_name scoringSchemeName,
            ifemw.evaluation_method_Id evaluationMethodId,
            ibemb.evaluation_method_name evaluationMethodName,
            ifemw.weight_coefficient weightCoefficient
        from ik_fp_evaluation_method_weight ifemw
                 left join ik_bp_evaluation_method_basic ibemb on ibemb.evaluation_method_id = ifemw.evaluation_method_Id
                 left join ik_fp_scoring_scheme_basic ifssb on ifssb.scoring_scheme_id = ifemw.scoring_scheme_id
        where ifemw.scoring_scheme_id  = #{scoringSchemeId}
        order by ifemw.scoring_scheme_id,ifemw.scoring_scheme_id
    </select>

    <delete id="deleteByIds">
        delete
        from ik_fp_evaluation_method_weight ifemw
        where ifemw.scoring_scheme_id in
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>
